## Q1. What are the characteristics of the tuples? Is tuple immutable?

In [2]:
## ans. Tuples are indexed, immutable and it can store duplicate values.
## Tuple is immutable.

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

In [8]:
## ans) The two tuple methods are index() and count()
## example of index()
t=(7,56, "pw", "kamal", 58, 56)
t[3] ##  Finding the index 3 in the tuple t()

'kamal'

In [9]:
## ans) example of count()
t.count(56)    ## counting occurance of 56 in the tuple t()

2

In [10]:
## ans) Tuples have only two in built methods because Tuples are immutable unlike Lists, which allows changing of values inside it. Hence there are less methods in Tuples

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [11]:
## ans)  Set doesnot allow duplicate items
## ans) Writing a code using a set to remove duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [19]:
## union() method unites two sets and makes a new sets with elements from both the sets. Here a new set is created.
## update() method updates the elements of one set into another set on which it is called. It does not create a new set.

s1={2,4,5,6, "kamal"}
s2={2,7,5, "data science" ,9}
s1.union(s2)  ## example of union() where a new set with elements from sets s1 and s2 will be created

{2, 4, 5, 6, 7, 9, 'data science', 'kamal'}

In [20]:
s3={8,5,7,"hi",4,2}
s4={8,7,5,10,14}
s3.update(s4)  ## example of update() where the elements of set s3 will be updated

In [21]:
s3

{10, 14, 2, 4, 5, 7, 8, 'hi'}

In [22]:
s1

{2, 4, 5, 6, 'kamal'}

In [23]:
s2

{2, 5, 7, 9, 'data science'}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [24]:
## ans) Dictionary is a data structure that allows us to store values in key:value format.
d1={"name" : "kamal", "surname" : "banik", "batch" : "data science masters"}  ## example of dictionary

In [27]:
d1

{'name': 'kamal', 'surname': 'banik', 'batch': 'data science masters'}

In [30]:
d1["batch"]

'data science masters'

In [28]:
## ans) a dictionary is oredered

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

In [31]:
## Yes, we can creatre a nested dictionary.
d2={"info" : {"age" : 30, "height" : "5 ft 8 inch"}, "place" : "kolkata" } ## nested dictionary

In [32]:
d2

{'info': {'age': 30, 'height': '5 ft 8 inch'}, 'place': 'kolkata'}

In [33]:
d2["info"]

{'age': 30, 'height': '5 ft 8 inch'}

In [34]:
d2["info"]["height"]

'5 ft 8 inch'

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [65]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [84]:
dict1.setdefault("topics", ["Python", "Machine Learning", "Deep Learning"])

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [93]:
## ans) Three view objects in dictionaries are keys(), values(), items()

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [94]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [95]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [96]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])